* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  cursor: pointer;
  border: none;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Gothic A1', sans-serif;
  font-style: normal;
  font-weight: 500;
}