.card {
    opacity: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    max-width: 1040px;
    width: 100%;
    border-radius: 20px;
    transition: box-shadow 0.8s;
    &.visible {
            opacity: 1;
            transition: all 1s ease-in-out;
        }

    &:hover {
        box-shadow: 4px 8px 40px 0px rgba(8, 24, 111, 0.2);
    }

    &__button {
        padding: 8px 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 30px;

        &-small {
            margin-bottom: 20px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 20px;
    }
}

.card-white {
    background: $background-secondary-color;
    color: $font-color-primary;
    position: relative;

    .card {
        &__button {
            background: $blurr-background-secondary;
            color: $font-color-third;
        }

        &__date {
            color: $blurr-background-primary;
        }

        &__data {
            position: absolute;
            top: 40px;
            right: 40px;
        }

        &__description {
            color: $blurr-background-primary;
        }
    }
}

.card-blue {
    background: $background-primary-color;
    color: $font-color-secondary;

    .card {
        &__button {
            background: $background-fourth-color;
            color: $font-color-secondary;
        }
    }
}


.card-image-oil {
    background: url("../oil.png") center/cover no-repeat;
    color: $font-color-secondary;

    .card {
        &__button {
            background: $blurr-background-third;
            color: $font-color-secondary;
        }
    }
}

.card-image-stars {
    background: url("../stars.png") center/cover no-repeat;
    color: $font-color-secondary;

    .card {
        &__button {
            background: $blurr-background-third;
            color: $font-color-secondary;
        }
    }
}

@media (max-width: 600px) {
    .card {
        &__title {
            font-size: 20px;
        }
        &__description {
            font-size: 14px;
        }
    }    

    .card-white {
        .card__data {
            text-align: center;
            position: static;
        }
    }
    .card__content {
        margin-bottom: 40px;
    }
}