.cards-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 1400px) {
    .cards-container {
        margin-right: 20px;
    }
}

.cards {
    max-width: 1040px;
    margin-bottom: 80px;
    transition: none;

    &__container {
        display: grid;
        gap: 40px;

        &-first {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 280px 400px;
            margin-bottom: 40px;

            .card1 {
                grid-column: 1/5;
            }

            .card2 {
                grid-column: 1/3;
            }

            .card3 {
                grid-column: 3/5;
            }
        }

        &-second {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 180px 180px;
            margin-bottom: 40px;

            .card1 {
                grid-column: 1/2;
                grid-row: 1/3;
            }

            .card2,
            .card3 {
                grid-column: 2/4;
            }

        }

        &-third {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 400px 180px 180px;
            margin-bottom: 40px;

            .card1 {
                grid-column: 1/3;
            }

            .card3 {
                grid-column: 1 / 2;
                grid-row: 2 / 4;
            }

            .card4 {
                grid-column: 2 / 4;
            }

            .card5 {
                grid-column: 2 / 4;
            }


        }
    }
}


@media (max-width: 1024px) {
    .cards {
        &-container {
            margin-right: 0px;
            margin-bottom: 40px;
        }

        &__container {
            &-second {
                display: none;
            }

            &-third {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 180px 180px;

                .card1,
                .card3 {
                    display: none;
                }

                .card2 {
                    grid-row: 1 / 3;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .cards {
        &-container {
            max-width: 1040px;
            margin-bottom: 80px;
        }

        &__container {
            display: grid;
            gap: 40px;

            &-first {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 280px 350px;
                margin-bottom: 40px;

                .card2 {
                    grid-column: 1/5;
                }

                .card3 {
                    grid-column: 1/5;
                }
            }
            &-second {
                display: none;
            }
            &-third {
                grid-template-rows: repeat(3, 1fr);
                .card2 {
                    grid-row: 1 / 2;
                    grid-column: 1 / 4;
                }
                .card4 {
                    grid-row: 2 / 3;
                    grid-column: 1 / 4;
                }
                .card5 {
                    grid-row: 3 / 4;
                    grid-column: 1 / 4;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .cards__container-first, .cards__container-second, .cards__container-third {
        grid-template-rows: repeat(3, 1fr);
    }

    .cards {
        margin-bottom: 0px;
    }
}