$background-primary-color: #5D71DD;
$background-secondary-color: #FFFFFF;
$background-third-color: #5D71DD0D;
$background-fourth-color: #7D8DE4;
$background-fifth-color: #F9F9F9;
$background-sixth-color: #F5F5F5;

$blurr-background-primary: rgba(47, 34, 34, 0.4);
$blurr-background-secondary: rgba(93, 113, 221, 0.05);
$blurr-background-third: rgba(255, 255, 255, 0.2);

$box-shadow-primary: 0px 4px 4px rgba(57, 70, 136, 0.18);
$box-shadow-secondary: 4px 8px 40px 0px #08186F33;

$font-color-primary: #2F2222;
$font-color-secondary:#FFFFFF;
$font-color-third: #5D71DD;
$font-color-fourth: #6C7DD8;
$font-color-fifth: #E5E4E4;



